@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablets*/
    section#login { 
        width: 80vw;
        height: 500px;
    }
    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formulario {
        float: right;
        width: 60%;
    }
    #formulario > p {
        font-size: 1.0em;
    }
    .campo > input {
        transform: translateY(-10px);
    }
}
@media screen and (min-width: 992px) { /*Telas Grandes*/
    section#login {
        width: 85vw;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }
    #formulario > p {
        font-size: 1.0em;
    }
    #formulario a {
        font-size: 1.0em;
    }
    .tm {
        font-size: 1.0em;
    }
    .campo > input {
        transform: translateY(-10px);
    }
}